<footer class="site-footer">
  <div class="footer-inner">
    <div class="footer-col">
      <h5>Категорії</h5>
      <ul>
        <li><a href="?cat=popular">Популярні</a></li>
        <li><a href="?cat=new">Нові</a></li>
        <li><a href="?cat=forme">Для мене</a></li>
        <li><a href="?cat=hd">HD</a></li>
        <li><a href="?cat=shorts">Shorts</a></li>
        <li><a href="?cat=trending">Тренди</a></li>
      </ul>
    </div>
    <div class="footer-col">
      <h5>Теги</h5>
      <ul>
        <li><a href="?cat=romance">Романтика</a></li>
        <li><a href="?cat=exotic">Екзотика</a></li>
        <li><a href="?cat=amateur">Аматорське</a></li>
        <li><a href="?cat=pro">Профі</a></li>
        <li><a href="?cat=hd">4K/FullHD</a></li>
      </ul>
    </div>
    <div class="footer-col">
      <h5>Компанія</h5>
      <ul>
        <li><a href="terms.html">Правила користування</a></li>
        <li><a href="dmca.html">DMCA</a></li>
        <li><a href="feedback.html">Зворотний зв’язок</a></li>
        <li><a href="#">Про нас</a></li>
      </ul>
    </div>
    <div class="footer-col">
      <h5>Додатково</h5>
      <ul>
        <li><a href="#">Партнерам</a></li>
        <li><a href="#">Реклама</a></li>
        <li><a href="#">Підтримка</a></li>
        <li><a href="#">FAQ</a></li>
      </ul>
    </div>
  </div>
  <div class="footer-bottom">© 2025 lexotex.com. Всі права захищені.</div>
</footer>
